<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">Submit New Goal</h1>
</div>

<form id="new_goal" class="form-signin" action="/submit_goal" method="POST">
  <div class="form-label-group">
    <textarea name="goal" class="form-control" rows="8" cols="80"></textarea>
  </div>
  <div class="form-label-group">
    <input type="text" class="form-control" name="category" placeholder="Category" list="category_list" id="category"/>
  </div>
  <div class="form-label-group">
    <input type="text" class="form-control" name="dueDate" placeholder="Due Date" id="datepicker"/>
  </div>
  <datalist id="category_list">
	<% if (categories) { %>
		<% categories.forEach((category) => {%>
		  <option value=<%= category.category %>>
		<% }) %>
	<% } %>
  </datalist>

  <button type="submit" id="new_goal_btn" class="btn btn-lg btn-success btn-block">Submit Goal</button>
</form>
